
/* ini css untuk login dan register */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
/* html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
} */

/* header */
#header  {
  color: #FF2600;
  position: fixed  !important;
    width: 100% !important; 
    top: 0 !important; 
    right: 0 !important; 
    z-index: 100 !important; 
    display: flex !important; 
    align-items: center !important; 
    justify-content: space-between !important; 
    background-color: #fff !important; 
    box-shadow: 0 41px rgb(14 55 54 / 14%) !important; 
    padding: 15px 10% !important; 
    transition: 0.2s !important; 
    
}
.navbar1 {
  color:black !important;
}
.navbar1:hover {
 color: #FF2600 !important;
}
#header .container {
  
}


::selection{
  background: #fa4299;
  color: #fff;
}

#navbarTogglerDemo02{
  font-family: "Poppins" !important;
}
.wrapper{
  overflow: hidden;
  max-width: 65%;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #FF2600, #FF2600);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: #FF2600;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}

#search-submit{
  border-color:#FF2600;
}

#search-submit:hover {
  background-color: #FF2600;
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #FF2600;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #FF2600, #fa4299, #FF2600, #fa4299);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
/* ini batas akhir */
#submit-button {
  background-color: rgb(160, 95, 235);
  color:white;
}

.main-content{
  width: 100%;
}
/* css  admin*/

/* ini css footer */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* 
{
    
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
footer {
    position: relative;
    width: 100%;
    background: #FF2600;
    min-height: 40px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(150px);
}
footer .social-icon, footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
footer .social-icon li, 
footer .menu {
    list-style: none;
}
footer .social-icon li a {
    font-size: 2em;
    color:#fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social-icon a :hover {
    transform: translateY(-10px);
}
footer .menu li a {
    font-size: 1.2em;
    color:#fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover {
    opacity: 1;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    /* margin-bottom: 10px; */
    font-size: 1.1em;
}
footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 50px;
    background:  url(./images/wave-orange.png);
    background-size: 1000px 55px;
    transform: translateY(50px);
}
footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave {
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
    
}
@keyframes animateWave_02 {
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
    
}
/* ini css footer */

